* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 0px 12px 40px;
    width: 1079px;
    text-align: left;
    list-style-type: none;
    background: rgb(91, 148, 126);
    font-size: 18px;
    transition: 0.2s;
    font-weight: 600;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #2ffdd096;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: rgb(136, 201, 179);
  }
  /* When clicked on, add a background color and strike out text */
  .to-be-done {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0px 40px 3px 0px;
    color: #fff;
    height: 50px;
    width: 40px;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  .to-be-done::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 15px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .not-done span.to-be-done:hover{
    background-color: #08f31b;
    color: white;
  }

  .is-done span.to-be-done:hover{
    background-color: #f38d08;
    color: white;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  .is-done {
    color: #fff;
    text-decoration: line-through;
  }
