*{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-family: sans-serif;
    color: black;
}

div{
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px 20px rgba(41, 126, 182, 0.493);
}

img{
    width: 625px;
    margin-top: 10px;
}

input[type=text], input[type=email], input[type=tel] {
    width: 100%;
    height: 30px;
    border: 2px solid rgba(139, 139, 139, 0.411);
  margin: 6px 0;
  box-sizing: border-box;
  color: black;
}

h1{
    font-size: x-large;
    font-weight: bold;
}

label, p, .text{
    margin-top: 15px;
    margin-right: 15px;
    color: rgb(43, 43, 43);
}

.comment{
    border: 2px solid rgba(139, 139, 139, 0.411);
    width: 100%;
    height: 80px;
    max-width: 100%;
    min-height: 80px;
    min-width: 100%;
}

.dropdownMenu{
    width: 100%;
    height: 30px;
    border: 2px solid rgba(139, 139, 139, 0.411);
  margin: 5px 0;
  box-sizing: border-box;
  color: rgb(66, 65, 65);
}

.submit-button{
    background:#0066A2;
     color:white;
     border-style:outset;
     border-color:#0066A2;
     height:50px;
     width:100px;
     font:bold15px arial,sans-serif;
     text-shadow:none;
}

#successMessage{
  margin: auto;
  width: 50%;
  padding: 200px;
  font-size: xx-large;
}